@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

/* General settings */
html {
  --black-dark: #121212;
  --black-medium: #242424;
  --gray-dark: #726d6d;
  --gray-light: #c5c5c5;
  --white: #ffffff;
  --green: #3ba55d;
  --mauve: #f99df7;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black-dark);
  color: var(--white);
  box-sizing: border-box;
  font-family: inter, arial, sans-serif;
}

p {
  font-family: arial;
  letter-spacing: 1.1px;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.container {
  max-width: 768px;
  margin: 0px auto;
}

/* Top naviguation bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 20px;
  border-bottom: solid 1px var(--black-medium);
}

.nav-bar ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav-bar ul li {
  list-style: none;
  font-size: 1rem;
  margin-right: 16px;
  font-weight: 700;
  color: var(--gray-dark);
  cursor: pointer;
}
.nav-bar ul li:hover {
  color: var(--white);
  transition: 0.1s ease-in-out;
}

.social {
  display: flex;
}

.icon {
  padding-left: 16px;
  width: 36px;
  height: 36px;
  color: var(--gray-dark);
  cursor: pointer;
}
.icon:hover {
  color: var(--white);
  transition: 0.2s ease-in-out;
}

/*  Header  */
.header {
  margin: 56px 0px;
}

.top-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.status {
  margin-left: 24px;
  background-color: var(--black-medium);
  padding: 8px 16px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.status p {
  font-size: 14px;
}

.circle-pulse {
  animation: pulse 2s infinite;
  background-color: var(--green);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 16px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(59, 165, 93, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(59, 165, 93, 0);
  }
  100% {
    transform: scale(0.9);
  }
}

.description {
  color: var(--gray-light);
  font-size: 20px;
}

/* Writings */
.post-list {
  display: flex;
  flex-direction: column;
}
.post-article {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 4px;
  border-radius: 5px;
  cursor: pointer;
}
.post-article:hover {
  background-color: var(--black-medium);
}

.icon-file {
  margin-right: 8px;
}

.seperator {
  background-color: var(--black-medium);
  height: 1px;
  margin-bottom: 16px;
}

/* Modile view */
@media (max-width: 500px) {
  .nav-bar ul li {
    font-size: 1rem;
  }
}
